<h1>New team</h1>

<% form_for([@team.tournament, @team]) do |f| %>
  <%#= f.error_messages %>
  <p>
    <%= f.label t('team.team_name') %>
    <%= f.text_field :name %>
  </p>
    <p>
      <%= f.label t('team.organization') %>
      <%= f.text_field :organization %>
    </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

