%h3= @tournament.title
- form_for( [@tournament, @warrant] ) do |f|
  %table
    %tr
      %th Etsivät
      %th
      %th Kohde
    %tr
      %td.warrant
        - f.fields_for :assignments do |ass_form|
          = ass_form.label ass_form.object.player.with_real_name
          %span.warrant
            = ass_form.check_box :player_id, {}, ass_form.object.player.id
          %br/
      %td
        \->
      %td
        = f.collection_select :target_id, @active_players, :id, :with_real_name, {:prompt => "(valitse)"}
  = f.submit "Lisää"
