%h3= @tournament.title
= form_for([@tournament, @warrant]) do |warrant_form|
  %table
    %tr
      %th Etsivät
      %th
      %th Kohde
    %tr
      %td.warrant
        = warrant_form.fields_for :assignments, @warrant.assignments do |assignment_form|
          = assignment_form.label(assignment_form.object.player.with_real_name)
          %span.warrant
            = assignment_form.check_box(:player_id, {}, assignment_form.object.player.id)
          %br/
      %td
        \->
      %td
        = warrant_form.collection_select( :target_id, @active_players, :id, :with_real_name, prompt: '(valitse)')
  = warrant_form.submit 'Lisää'
