<div id="main" style="display: inline-block;">

  <div id="image">
    <% if @target.user.picture %>
      <%= image_tag(@target.user.picture.url, :height => 640, :"margin-left" => 150) %>
    <% else %>
      <b>PELAAJALLA EI KUVAA TOISTAISEKSI</b>
    <% end %>
  </div>

  <h2><%= @target.tournament.title %> - <%= @target.user.full_name %> (<%= @target.alias %>)</h2>

  <div id="details">
    <div id="description" style="float:left;width:300">
      <p>
        <b>Silmät:</b>
        <%=h @user.eyes %>
      </p>

      <p>
        <b>Silmälasit:</b>
        <%=h @user.glasses %>
      </p>

      <p>
        <b>Pituus:</b>
        <%=h @user.height %>
      </p>

      <p>
        <b>Hiukset:</b>
        <%=h @user.hair %>
      </p>

      <p>
        <b>Muut tuntomerkit:</b>
        <%=h @user.other_notes %>
      </p>
    </div>

    <div id="activity" style="float:right;width:300">

        <p>
          <b>Ohjelma:</b>
          <%= simple_format(@user.calendar.misc) %>
        </p>

    </div>

    <br style="clear:both;" />
  </div>
</div>
