<h2><%= @target.tournament.title %></h2>

<% if @target.user.picture %>
  <%= image_tag("images/#{@target.user.picture.id}",  {:id => "#{@target.user.picture.id}", :onload => "resize('#{@target.user.picture.id}')"}) %>
<% else %>
  <b>PELAAJALLA EI KUVAA TOISTAISEKSI</b>
<% end %>

<table cellspacing="20" class="top_align">
<tr>
<th>
<h3>Perustiedot<h3>
</th>
<th>
<h3>Kalenteri<h3>
</th>
</tr>
<tr>
<td>

<% if @current_player.detective? %>
 <p>
  <b>Peitenimi:</b>
  <%= @target.alias %>
</p>
<% end %>

<p>
  <b>Nimi:</b>
  <%=h "%s %s" % [ @user.first_name, @user.last_name ] %>
</p>

<% if @target.team != nil %>
<p>
  <b>Joukkue:</b>
  <%=h @target.team.name %>
</p>
<% end %>

<p>
  <b>Osoite:</b>
  <%=h @user.address %>
</p>

<p>
  <b>Oppilaitos:</b>
  <%=h @user.university %> / <%=h @user.faculty %> /  <%=h @user.department %>
</p>

<p>
  <b>Silmät:</b>
  <%=h @user.eyes %>
</p>

<p>
  <b>Silmälasit:</b>
  <%=h @user.glasses %>
</p>

<p>
  <b>Pituus:</b>
  <%=h @user.height %>
</p>

<p>
  <b>Hiukset:</b>
  <%=h @user.hair %>
</p>

<p>
  <b>Muut tuntomerkit:</b>
  <%=h @user.other_notes %>
</p>

<% if @target.referee != nil %>
<p>
  <b>Tuomari:</b>
  <%=h @target.referee.user.full_name %>, <%=h @target.referee.user.phone %>
</p>
<% end %>  

</td>

<td>
<p>
  <b>Maanantai:</b>
  <%= simple_format(@calendar.monday) %>
</p>

<p>
  <b>Tiistai:</b>
  <%= simple_format(@calendar.tuesday) %>
</p>

<p>
  <b>Keskiviikko:</b>
  <%= simple_format(@calendar.wednesday) %>
</p>

<p>
  <b>Torstai:</b>
  <%= simple_format(@calendar.thursday) %>
</p>

<p>
  <b>Perjantai:</b>
  <%= simple_format(@calendar.friday) %>
</p>

<p>
  <b>Lauantai:</b>
  <%= simple_format(@calendar.saturday) %>
</p>

<p>
  <b>Sunnuntai:</b>
  <%= simple_format(@calendar.sunday) %>
</p>

<p>
  <b>Liikennevälineet, muut huomiot:</b>
  <%= simple_format(@calendar.misc) %>
</p>

</td>
</tr>
</table>
