%h3= @tournament.title
%table
  %tr
    %th Murhaaja
    %th
    %th Kohde
  - for assignment in @assignments
    %tr
      %td
        = h assignment.player.user.full_name
        (#{h assignment.player.alias})
      %td ->
      %td
        = h assignment.target.user.full_name
        (#{h assignment.target.alias})
      %td= link_to 'Poista', tournament_assignment_path(@tournament, assignment), :method => :delete
= form_for([ @tournament, @new_assignment ]) do |f|
  %p
    = f.label :Murhaaja
    %br/
    = collection_select :assignment, :player_id, @tournament.players, :id, :with_real_name
  %p
    = f.label :Kohde
    %br/
    = collection_select :assignment, :target_id, @tournament.players, :id, :with_real_name
  %p
    = f.submit "Lisää"
