%h1 New team
= form_for([@team.tournament, @team]) do |f|
  %p
    = f.label t('team.team_name')
    = f.text_field :name
  %p
    = f.label t('team.organization')
    = f.text_field :organization
  %p
    = f.submit 'Create'
