%h2{:color => "#CC0000"}= t('ilmo.complete.welcome_header')
%p
  - if @mail_sent
    = t('ilmo.complete.registration_received', :tournament => "#{@tournament.title}")
  - else
    = "Kiitos ilmoittautumisesta! Kohteiden jako tapahtuu Käpyaulassa lauantaina klo 10.30-11.30."
  = link_to "Takaisin ilmoittautumislomakkeeseen", new_special_tournament_ilmo_path(@tournament)
