%h2{:color => "#CC0000"}= t('ilmo.complete.welcome_header')
%p
  - if @mail_sent
    = t('ilmo.complete.registration_received', :tournament => "#{@tournament.title}")
  - else
    = 'Kiitos ilmoittautumisesta! Peli käynnistyy lauantaina klo 10.00.'
  = link_to 'Takaisin ilmoittautumislomakkeeseen', new_special_tournament_ilmo_path(@tournament)
