<h1>Login</h1>

<% form_tag 'create' do %>

  <label for='user_login'><%= I18n.t 'session.username' %></label><br />
  <%= text_field 'user', 'login', :size => 20 %><br />

  <label for='user_login'><%= I18n.t 'session.password' %></label><br />
  <%= password_field 'user', 'password', :size => 20 %><br />

  <p>
    <%= submit_tag I18n.t 'session.login' %>
  </p>

<% end %>

  <%= link_to 'Back', users_path %>
