<h1>Login</h1>

<% form_for @user, :url=>session_url do |f| %>

  <p>
    <%= f.label t('session.username') %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label t('session.password') %><br />
    <%= f.password_field :password %>
  </p>
<%= submit_tag t('session.login') %>
<% end %>

<br />

<%= link_to t('session.register'), new_user_path %>
