%h3= t('open_registrations')
- Tournament.registration_open.each do |tournament|
  %ul
    %li= link_to tournament.title, new_tournament_ilmo_path(tournament)
%h1 Login
  = form_for(@user, url: session_url) do |f|
    = f.label :username, t('session.username')
    = f.text_field :username, size: 20
    %br/
    = f.label :password, t('session.password')
    = f.password_field :password, size: 20
    %br/
    = f.submit t('session.login')
= link_to t('session.register'), new_user_path
