<h1>New user</h1>

<% form_for(@user, :html =>  {:class => 'validate'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :K채ytt채j채tunnus %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :Salasana %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Salasana uudestaan" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :Puhelin %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :Osoite %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :Silm채t %><br />
    <%= f.text_field :eyes %>
  </p>
  <p>
    <%= f.label :Lasit %><br />
    <%= f.text_field :glasses %>
  </p>
  <p>
    <%= f.label :Pituus %><br />
    <%= f.text_field :height %> cm
  </p>
  <p>
    <%= f.label :Hiukset %><br />
    <%= f.text_field :hair %>
  </p>
  <p>
    <%= f.label "Muut tuntomerkit" %><br />
    <%= f.text_field :other_notes %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
