<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Eyes</th>
    <th>Glasses</th>
    <th>Height</th>
    <th>Hair</th>
    <th>Other notes</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.address %></td>
    <td><%=h user.eyes %></td>
    <td><%=h user.glasses %></td>
    <td><%=h user.height %></td>
    <td><%=h user.hair %></td>
    <td><%=h user.other_notes %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
