<h1>Editing tournament</h1>

<%= link_to "Add referees", :new_tournament_referee_path %>

<% form_for(@tournament) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :finish_date %><br />
    <%= f.date_select :finish_date %>
  </p>
  <p>
    <%= f.label :application_deadline %><br />
    <%= f.datetime_select :app_deadline %>
  </p>

  <p>
    <%= f.label :team_game %><br />
    <%= f.check_box :team_game %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tournament %> |
<%= link_to 'Back', tournaments_path %>
