<h1>Listing tournaments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>Finish date</th>
  </tr>

<% for tournament in @tournaments %>
  <tr>
    <td><%=h tournament.title %></td>
    <td><%=h tournament.start_date %></td>
    <td><%=h tournament.finish_date %></td>
    <td><%= link_to 'Show', tournament %></td>
    <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <td><%= link_to 'Destroy', tournament, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tournament', new_tournament_path %>
