<p>
  <b>Title:</b>
  <%=h @tournament.title %>
</p>

<p>
  <b>Start date:</b>
  <%=h @tournament.start_date %>
</p>

<p>
  <b>Finish date:</b>
  <%=h @tournament.finish_date %>
</p>

<ul>
  <li><%= link_to "Pelaajat", tournament_players_path(@tournament) %></li>
  <li><%= link_to "Renkaat", tournament_assignments_path(@tournament) %></li>
  <li><%= link_to "Joukkueet", tournament_teams_path(@tournament) %></li>
  <li><%= link_to "Joukkuerenkaat", tournament_team_assignments_path(@tournament) %></li>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
