<p>
  <b>Title:</b>
  <%=h @tournament.title %>
</p>

<p>
  <b>Aloituspäivämäärä:</b>
  <%=h @tournament.start_date %>
</p>

<p>
  <b>Päättymispäivämäärä:</b>
  <%=h @tournament.finish_date %>
</p>

<ul>
  <li><%= link_to "Pelaajat", tournament_players_path(@tournament) %></li>
  <li><%= link_to "Renkaat", tournament_rings_path(@tournament) %></li>
  <li><%= link_to "Lisää uusi tapahtuma", new_tournament_event_path(@tournament) %></li>
  <% if @tournament.team_game %>
    <li><%= link_to "Joukkueet", tournament_teams_path(@tournament) %></li>
    <li><%= link_to "Joukkuerenkaat", tournament_team_assignments_path(@tournament) %></li>
  <% end %>

  <li><%= link_to "Tapahtumat", tournament_events_path(@tournament) %></li>

<% if current_user.admin %>
  <%= link_to 'Muokkaa turnausta', edit_tournament_path(@tournament) %>
<% end %>
