%h3 Uusi tapahtuma
= form_for([@tournament, @event]) do |eventf|
  %p
    = eventf.label "Otsikko"
    %br/
    = eventf.text_field :title
  %p
    = eventf.label "Ajankohta"
    %br/
    = eventf.datetime_select :time
  = eventf.label "Sisältö"
  %i (Ymmärtää yleisimmät HTML:n tekstimuotoilutagit)
  %br/
  = eventf.text_area :content, :cols => 80
  %table
    %tr
      %td
        = eventf.label "Murhia"
      %td
        = eventf.select :murders, (0..10).to_a
      %td
        = eventf.label "Tappoja"
      %td
        = eventf.select :kills, (0..10).to_a
      %td
        = eventf.label "Pidätyksiä"
      %td
        = eventf.select :arrests, (0..10).to_a
    %tr
      %td
        = eventf.label "Sivullisia"
      %td
        = eventf.select :collaterals, (0..40).to_a
      %td
        = eventf.label "Todistajia"
      %td
        = eventf.select :murders, (0..40).to_a
      %td
        = eventf.label "Silminnäkijöitä"
      %td
        = eventf.select :eyewitnesses, (0..40).to_a
  = eventf.submit "Lähetä"
