<h1>Uusi tapahtuma</h1>

<% form_for([@tournament, @event]) do |eventf| %>
  <p>
    <%= eventf.label "Otsikko" %><br />
    <%= eventf.text_field :title %>
  </p>
  <p>
    <%= eventf.label "Ajankohta" %><br />
    <%= eventf.datetime_select :time %>
  </p>  
  <%= eventf.label "Sisältö" %>
  <i>(Ymmärtää yleisimmät HTML:n tekstimuotoilutagit)</i>
  <br />
  <%= eventf.text_area :content, :cols => 80 %>
  <table>
    <tr>
      <td>
        <%= eventf.label "Murhia" %>
      </td>
      <td>
        <%= eventf.select :murders, (0..10).to_a %>
      </td>
      <td>
        <%= eventf.label "Tappoja" %>
      </td>
      <td>
        <%= eventf.select :kills, (0..10).to_a %>
      </td>
      <td>
        <%= eventf.label "Pidätyksiä" %>
      </td>
      <td>
        <%= eventf.select :arrests, (0..10).to_a %>
      </td>
    </tr>
    <tr>
      <td>
        <%= eventf.label "Sivullisia" %>
      </td>
      <td>
        <%= eventf.select :collaterals, (0..40).to_a %>
      </td>
      <td>
        <%= eventf.label "Todistajia" %>
      </td>
      <td>
        <%= eventf.select :murders, (0..40).to_a %>
      </td>
      <td>
        <%= eventf.label "Silminnäkijöitä" %>
      </td>
      <td>
        <%= eventf.select :eyewitnesses, (0..40).to_a %>
      </td>
    </tr>
  </table>
  <%= eventf.submit "Lähetä" %>

<% end %>
