<h1>Uusi tapahtuma</h1>

<% form_for([@tournament, @event]) do |eventf| %>
  <p>
    <%= eventf.label "Otsikko" %><br />
    <%= eventf.text_field :title %>
  </p>
  <p>
    <%= eventf.label "Ajankohta" %><br />
    <%= eventf.datetime_select :time %>
  </p>  
  <%= eventf.label "Sisältö" %>
  <i>(Ymmärtää yleisimmät HTML:n tekstimuotoilutagit)</i>
  <br />
  <%= eventf.text_area :content, :cols => 80 %>
  <table>
    <tr>
      <td>
        <%= eventf.label "Murhia" %>
      </td>
      <td>
        <%= select_tag :murders, options_for_select((0..10).to_a, selected=0) %>
      </td>
      <td>
        <%= eventf.label "Tappoja" %>
      </td>
      <td>
        <%= select_tag :self_defenses, options_for_select((0..10).to_a, selected="0") %>
      </td>
      <td>
        <%= eventf.label "Pidätyksiä" %>
      </td>
      <td>
        <%= select_tag :arrests, options_for_select((0..10).to_a, selected="0") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= eventf.label "Sivullisia" %>
      </td>
      <td>
        <%= select_tag :collaterals, options_for_select((0..20).to_a, selected="0") %>
      </td>
      <td>
        <%= eventf.label "Todistajia" %>
      </td>
      <td>
        <%= select_tag :murders, options_for_select((0..20).to_a, selected="0") %>
      </td>
      <td>
        <%= eventf.label "Silminnäkijöitä" %>
      </td>
      <td>
        <%= select_tag :eyewitnesses, options_for_select((0..20).to_a, selected="0") %>
      </td>
    </tr>
  </table>
  <%= eventf.submit "Lähetä" %>

<% end %>
