<p>
  <b>Maanantai:</b>
  <%=h @calendar.monday %>
</p>

<p>
  <b>Tiistai:</b>
  <%=h @calendar.tuesday %>
</p>

<p>
  <b>Keskiviikko:</b>
  <%=h @calendar.wednesday %>
</p>

<p>
  <b>Torstai:</b>
  <%=h @calendar.thursday %>
</p>

<p>
  <b>Perjantai:</b>
  <%=h @calendar.friday %>
</p>

<p>
  <b>Lauantai:</b>
  <%=h @calendar.saturday %>
</p>

<p>
  <b>Sunnuntai:</b>
  <%=h @calendar.sunday %>
</p>

<p>
  <b>Liikennevälineet, muut huomiot:</b>
  <%=h @calendar.misc %>
</p>
