<p>
  <b>Maanantai:</b>
  <%= simple_format(@calendar.monday) %>
</p>

<p>
  <b>Tiistai:</b>
  <%= simple_format(@calendar.tuesday) %>
</p>

<p>
  <b>Keskiviikko:</b>
  <%= simple_format(@calendar.wednesday) %>
</p>

<p>
  <b>Torstai:</b>
  <%= simple_format(@calendar.thursday) %>
</p>

<p>
  <b>Perjantai:</b>
  <%= simple_format(@calendar.friday) %>
</p>

<p>
  <b>Lauantai:</b>
  <%= simple_format(@calendar.saturday) %>
</p>

<p>
  <b>Sunnuntai:</b>
  <%= simple_format(@calendar.sunday) %>
</p>

<p>
  <b>Liikennevälineet, muut huomiot:</b>
  <%= simple_format(@calendar.misc) %>
</p>
