%p
  %b Maanantai:
  = simple_format(@calendar.monday)
%p
  %b Tiistai:
  = simple_format(@calendar.tuesday)
%p
  %b Keskiviikko:
  = simple_format(@calendar.wednesday)
%p
  %b Torstai:
  = simple_format(@calendar.thursday)
%p
  %b Perjantai:
  = simple_format(@calendar.friday)
%p
  %b Lauantai:
  = simple_format(@calendar.saturday)
%p
  %b Sunnuntai:
  = simple_format(@calendar.sunday)
%p
  %b Liikennevälineet, muut huomiot:
  = simple_format(@calendar.misc)
