%h1= t('admin.registered_players')
%h2= t('admin.waiting_confirmation')
%table
  %tr
    %th= t('common.user')
    %th= t('common.alias')
    %th= t('common.target_page')
    %th
  - for player in @waiting_players
    %tr
      %td= h player.user.full_name
      %td= h player.alias
      %td= link_to player.real_name, tournament_target_path(@tournament, player)
      %td= link_to t('admin.change_alias'), edit_tournament_player_path(@tournament, player)
      %td
        - unless player.registration_email_sent
          = t('admin.registration_mail_error')
      %td
        = form_for [@tournament, player] do |p|
          = p.hidden_field :status, { :value => :active }
          = submit_tag t('admin.confirm_player')
%br/
