<h1><%= I18n.t('admin.registered_players') %></h1>

<h2><%= I18n.t('admin.waiting_confirmation') %></h2>
<table>
  <tr>
    <th><%= I18n.t('common.user') %></th>
    <th><%= I18n.t('common.alias') %></th>
    <th><%= I18n.t('common.target_page') %></th>
    <th></th>
  </tr>

<% for player in @waiting_players %>
  <tr>
    <td><%=h player.user.full_name %></td>
    <td><%=h player.alias %></td>
    <td><%= link_to player.real_name, tournament_target_path(@tournament, player) %></td>
    <td><%= link_to I18n.t('admin.change_alias'), edit_tournament_player_path(@tournament, player) %></td>
    <td><% unless player.registration_email_sent %><%= I18n.t('admin.registration_mail_error') %><% end %></td>
    <td>
      <% form_for [@tournament, player] do |p|  %>
        <%= p.hidden_field :status, { :value => :active } %>
        <%= submit_tag I18n.t('admin.confirm_player') %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>

<br />

