<% content_for :head, javascript_include_tag('gen_validatorv4.js') %>

<h2 color="#CC0000"><%= t('ilmo.title_html', :tournament => "#{@player.tournament.title}") %></h2>
<h3 color="#CC0000"><%= t('ilmo.registration_end', :date => @player.tournament.app_deadline_formatted) %></h3>

<% if @player.tournament.is_over? %>
  <p><%= t('ilmo.tournament_over_disclaimer') %></p>

<% else %>

  <p><%= t('ilmo.instructions') %></p>
  <p><%= t('ilmo.team_game_reminder') %></p>

  <% if logged_in? %>
    <% if @registered_already %>
      <h3><%= t('ilmo.already_registered') %></h3>
    <% else %>
      <h3>Pelaajatiedot</h3>
      <%= form_for @player, :url => { :controller => :ilmos, :action => :create }, :html => { :id => "ilmo_logged_in_form" } do |p| %>
        <%#= error_messages_for :player %>
        <p>
          <%= p.label t('ilmo.alias') %><br />
          <%= p.text_field :alias %>
        </p>
        <%# if @player.tournament.team_game %>
          <%#= error_messages_for :team %>
          <%# fields_for @team do |t| %>
            <p>
              <%#= t.label t('ilmo.team_name') %><br />
              <%#= t.text_field :name %>
            </p>
          <%# end %>
        <%# end %>
      <p>
        <%= p.submit t('common.submit') %>
      </p>
      <% end %>
    <% end %>

  <% else %>
    <p><%= t('ilmo.old_user_reminder_html', :login_link => link_to(t('ilmo.to_log_in'), login_path)) %></p>
    <p><%= t('ilmo.account_info') %></p>

    <b><%= t('ilmo.problem_info_html') %></b>

    <%= form_for @player.user, :url => { :controller => :ilmos, :action => :create }, :html => { :id => "ilmo_form", :multipart => true } do |f| %>
      <%#= error_messages_for :user %>

      <h3><%= t('ilmo.player_data') %></h3>

      <%#= error_messages_for :player %>
      <%= fields_for @player do |p| %>
      <p>
        <%= p.label t('ilmo.alias') %><br />
        <div class="validation_error" id="ilmo_form_playeralias_errorloc"></div>
        <%= p.text_field :alias %>
      </p>
      <% end %>
      <%# if @player.tournament.team_game %>
        <%#= error_messages_for :team %>
        <%# fields_for @team do |t| %>
        <p>
          <%#= t.label t('ilmo.team_name') %><br />
          <%#= t.text_field :name %>
        </p>
        <%# end %>
      <%# end %>

      <p>
        <%= f.label t('ilmo.first_name') %><br />
        <div class="validation_error" id="ilmo_form_userfirst_name_errorloc"></div>
        <%= f.text_field :first_name %>
      </p>
      <p>
        <%= f.label t('ilmo.last_name') %><br />
        <div class="validation_error" id="ilmo_form_userlast_name_errorloc"></div>
        <%= f.text_field :last_name %>
      </p>

      <p class="secret">
        <%= f.label t('ilmo.email') %><br />
        <div class="validation_error" id="ilmo_form_useremail_errorloc"></div>
        <%= f.text_field :email %>
      </p>

      <p class="secret">
        <%= f.label t('ilmo.phone') %><br />
        <%= f.text_field :phone %>
      </p>
      <p>
        <%= f.label t('ilmo.address') %><br />
        <div class="validation_error" id="ilmo_form_useraddress_errorloc"></div>
        <%= f.text_field :address %>
      </p>

      <p>
        <%= f.label t('ilmo.university') %><br />
        <%= f.text_field :university %>
      </p>

      <p>
        <%= f.label t('ilmo.faculty') %><br />
        <%= f.text_field :faculty %>
      </p>

      <p>
        <%= f.label t('ilmo.department') %><br />
        <%= f.text_field :department %>
      </p>

      <p>
        <%= f.label t('ilmo.eyes') %><br />
        <div class="validation_error" id="ilmo_form_usereyes_errorloc"></div>
        <%= f.text_field :eyes %>
      </p>
      <p>
        <%= f.label t('ilmo.glasses') %><br />
        <div class="validation_error" id="ilmo_form_usereyes_errorloc"></div>
        <%= f.select( :glasses, [ t('ilmo.always'), t('ilmo.sometimes'), t('ilmo.glasses_no') ] ) %>

      </p>
      <p>
        <%= f.label t('ilmo.height') %><br />
        <div class="validation_error" id="ilmo_form_userheight_errorloc"></div>
        <%= f.text_field :height, "size" => 3, "maxlength" => 3 %> cm
      </p>
      <p>
        <%= f.label t('ilmo.hair') %><br />
        <div class="validation_error" id="ilmo_form_userhair_errorloc"></div>
        <%= f.text_field :hair %>
      </p>
      <p>
        <%= f.label t('ilmo.other_characteristics') %><br />
        <%= f.text_field :other_notes %>
      </p>

      <%#= error_messages_for :picture %>

      <%= fields_for @player.user.picture do |pic| %>

      <p><%= t('ilmo.pic_size_caveat_html') %>

      <br />

        <%= pic.label t('ilmo.picture') %><br />
        <%= pic.file_field :photo %>
      </p>
      <% end %>


      <h3><%= t('ilmo.calendar') %></h3>
      <%= fields_for @player.user.calendar do |c| %>
      <p>
        <%= c.label t('ilmo.monday') %><br />
        <%= c.text_area :monday, "rows" => 5 %>
      </p>
      <p>
        <%= c.label t('ilmo.tuesday') %><br />
        <%= c.text_area :tuesday, "rows" => 5  %>
      </p>
      <p>
        <%= c.label t('ilmo.wednesday') %><br />
        <%= c.text_area :wednesday, "rows" => 5  %>
      </p>
      <p>
        <%= c.label t('ilmo.thursday') %><br />
        <%= c.text_area :thursday, "rows" => 5  %>
      </p>
      <p>
        <%= c.label t('ilmo.friday') %><br />
        <%= c.text_area :friday, "rows" => 5  %>
      </p>
      <p>
        <%= c.label t('ilmo.saturday') %><br />
        <%= c.text_area :saturday, "rows" => 5  %>
      </p>
      <p>
        <%= c.label t('ilmo.sunday') %><br />
        <%= c.text_area :sunday, "rows" => 5  %>
      </p>
      <p>
        <%= c.label t('ilmo.other_notes') %><br />
        <%= c.text_area :misc, "rows" => 5  %>
      </p>
      <% end %>

      <p>
        <%= f.submit t('common.submit') %>
      </p>
    <% end %>

    <script type="text/javascript">
        var ilmoValidator  = new Validator("ilmo_form");
        ilmoValidator.addValidation("player_alias", "req", "<%= t("ilmo.req.alias") %>");
        ilmoValidator.addValidation("user_first_name", "req", "<%= t("ilmo.req.first_name") %>");
        ilmoValidator.addValidation("user_last_name", "req", "<%= t("ilmo.req.last_name") %>");
        ilmoValidator.addValidation("user_email", "req", "<%= t("ilmo.req.email") %>");
        ilmoValidator.addValidation("user_email", "email", "<%= t("ilmo.invalid.email") %>");
        ilmoValidator.addValidation("user_address", "req", "<%= t("ilmo.req.address") %>");
        ilmoValidator.addValidation("user_eyes", "req", "<%= t("ilmo.req.eyes") %>");
        ilmoValidator.addValidation("user_glasses", "req", "<%= t("ilmo.req.glasses") %>");
        ilmoValidator.addValidation("user_height", "req", "<%= t("ilmo.req.height") %>");
        ilmoValidator.addValidation("user_hair", "req", "<%= t("ilmo.req.hair") %>");
        ilmoValidator.EnableOnPageErrorDisplay();
        ilmoValidator.EnableMsgsTogether();
    </script>
  <% end %>

<% end %>

