<p>
  <b>Title:</b>
  <%=h @tournament.title %>
</p>

<p>
  <b>Aloituspäivämäärä:</b>
  <%=h @tournament.start_date %>
</p>

<p>
  <b>Päättymispäivämäärä:</b>
  <%=h @tournament.finish_date %>
</p>

<p>
  <b>Pelaajat (<%= @players.size %>):</b>
</p>
<ul>
  <% @players.each do |player| %>
    <li><%= link_to player.real_name, tournament_target_path(@tournament, player) %>
      <% if player.user.picture %>
        <%= link_to "Tulosta", :controller => "targets", :action => "print", :id => player.id, :tournament_id => @tournament.id %>

      <% else %>
        <% form_for([@tournament, player], :html => { :multipart => true }, :url => tournament_target_path(@tournament, player)) do |f| %>
          <%= f.label "Uusi kuva: " %><br />
          <%= f.file_field :photo %>
          <%= f.submit "Lähetä" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.admin %>
  <%= link_to 'Muokkaa turnausta', edit_tournament_path(@tournament) %>
<% end %>

