<% form_for([@user, @picture], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Kuvatiedosto " %><br />
    <%= f.file_field :uploaded_picture %>
  </p>
    <p>
    <%= f.submit "Lähetä" %>
  </p>
<% end %>

<%= link_to 'Takaisin', :back %>


