%h2= @player.tournament.title
- if @player.user.picture
  = image_tag(@player.user.picture.url)
- else
  %b PELAAJALLA EI KUVAA TOISTAISEKSI
%table.top_align{:cellspacing => "20"}
  %tr
    %th
      %h3 Perustiedot
      %h3
    %th
      %h3 Kalenteri
      %h3
  %tr
    %td
      %p
        - if @referee
          %i Kirjautunut viimeksi: #{nil_date_handler(@user.last_login)}
      %p
        %b Nimi:
        = h "%s %s" % [ @user.first_name, @user.last_name ]
      %p
        %b Peitenimi:
        = h @player.alias
      - if @player.team != nil
        %p
          %b Joukkue:
          = h @player.team.name
      %p
        %b Puhelin:
        = h @user.phone
      %p
        %b Sähköposti:
        = h @user.email
      %p
        %b Osoite:
        = h @user.address
      %p
        %b Oppilaitos:
        = h @user.university
        \/ #{h @user.faculty} /  #{h @user.department}
      %p
        %b Silmät:
        = h @user.eyes
      %p
        %b Silmälasit:
        = h @user.glasses
      %p
        %b Pituus:
        = h @user.height
      %p
        %b Hiukset:
        = h @user.hair
      %p
        %b Muut tuntomerkit:
        = h @user.other_notes
      %p
        - if @player.referee != nil
          %b Tuomari:
          = h @player.referee.user.full_name
          , #{h @player.referee.user.phone}
        - else
          %b EI PELAAJATUOMARIA
    %td
      %p
        %b Maanantai:
        = simple_format(@user.calendar.monday)
      %p
        %b Tiistai:
        = simple_format(@user.calendar.tuesday)
      %p
        %b Keskiviikko:
        = simple_format(@user.calendar.wednesday)
      %p
        %b Torstai:
        = simple_format(@user.calendar.thursday)
      %p
        %b Perjantai:
        = simple_format(@user.calendar.friday)
      %p
        %b Lauantai:
        = simple_format(@user.calendar.saturday)
      %p
        %b Sunnuntai:
        = simple_format(@user.calendar.sunday)
      %p
        %b Liikennevälineet, muut huomiot:
        = simple_format(@user.calendar.misc)
= link_to 'Takaisin', :back
