<h2><%= @player.tournament.title %></h2>

<% if @player.user.picture %>
  <%= image_tag "images/#{@player.user.picture.id}" %>
<% else %>
  <b>PELAAJALLA EI KUVAA TOISTAISEKSI</b>
<% end %>

<table cellspacing="20" class="top_align">
<tr>
<th>
<h3>Perustiedot<h3>
</th>
<th>
<h3>Kalenteri<h3>
</th>
</tr>
<tr>
<td>

<p>
  <b>Nimi:</b>
  <%=h "%s %s" % [ @user.first_name, @user.last_name ] %>
</p>
<p>
  <b>Peitenimi:</b>
  <%=h @player.alias %>
</p>

<% if @player.team != nil %>
<p>
  <b>Joukkue:</b>
  <%=h @player.team.name %>
</p>
<% end %>

<p>
  <b>Puhelin:</b>
  <%=h @user.phone %>
</p>
<p>
  <b>Sähköposti:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Osoite:</b>
  <%=h @user.address %>
</p>

<p>
  <b>Silmät:</b>
  <%=h @user.eyes %>
</p>

<p>
  <b>Silmälasit:</b>
  <%=h @user.glasses %>
</p>

<p>
  <b>Pituus:</b>
  <%=h @user.height %>
</p>

<p>
  <b>Hiukset:</b>
  <%=h @user.hair %>
</p>

<p>
  <b>Muut tuntomerkit:</b>
  <%=h @user.other_notes %>
</p>

<p>
<% if @player.referee != nil %>
  <b>Tuomari:</b>
  <%=h @player.referee.user.full_name %>, <%=h @player.referee.user.phone %>
<% else %>
  <b>EI PELAAJATUOMARIA</b>
</p>
<% end %>  
</td>

<td>
<p>
  <b>Maanantai:</b>
  <%= simple_format(@calendar.monday) %>
</p>

<p>
  <b>Tiistai:</b>
  <%= simple_format(@calendar.tuesday) %>
</p>

<p>
  <b>Keskiviikko:</b>
  <%= simple_format(@calendar.wednesday) %>
</p>

<p>
  <b>Torstai:</b>
  <%= simple_format(@calendar.thursday) %>
</p>

<p>
  <b>Perjantai:</b>
  <%= simple_format(@calendar.friday) %>
</p>

<p>
  <b>Lauantai:</b>
  <%= simple_format(@calendar.saturday) %>
</p>

<p>
  <b>Sunnuntai:</b>
  <%= simple_format(@calendar.sunday) %>
</p>

<p>
  <b>Liikennevälineet, muut huomiot:</b>
  <%= simple_format(@calendar.misc) %>
</p>
</td>
</tr>
</table>

<%= link_to 'Takaisin', :back %>
