
<h3><%= @tournament.title %></h3>
<table>
  <tr>
    <th>Murhaajat</th>
    <th></th>
    <th>Kohdejoukkue</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%=h assignment.team.name %></td>
    <td> ->  </td>
    <td><%=h assignment.target.name %></td>

    <td><%= link_to 'Poista', tournament_team_assignment_path(@tournament, assignment), :method => :delete %></td>
  </tr>
<% end %>
</table>

<% form_for([ @tournament, @new_assignment ]) do |f| %>
  <%#= f.error_messages %>

  <p>
    <%= f.label :Murhaajat %><br />
    <%= collection_select :team_assignment, :team_id, @tournament.teams, :id, :name %>
  </p>

  <p>
    <%= f.label :Kohdejoukkue %><br />
    <%= collection_select :team_assignment, :target_id, @tournament.teams, :id, :name %>
  </p>
  <p>
    <%= f.submit "Lisää" %>
  </p>
<% end %>

