%h3= @tournament.title
%table
  %tr
    %th Murhaajat
    %th
    %th Kohdejoukkue
  - @assignments.each do |assignment|
    %tr
      %td= h assignment.team.name
      %td ->
      %td= h assignment.target.name
      %td= button_to 'Poista', tournament_team_assignment_path(@tournament, assignment), :method => :delete
= form_for([@tournament, @new_assignment]) do |f|
  %p
    = f.label :Murhaajat
    %br/
    = collection_select :team_assignment, :team_id, @tournament.teams, :id, :name
  %p
    = f.label :Kohdejoukkue
    %br/
    = collection_select :team_assignment, :target_id, @tournament.teams, :id, :name
  %p
    = f.submit 'Lisää'
