%h3= @tournament.title
= form_for([@tournament, @ring]) do |f|
  %table
    %tr
      %th Murhaaja
      %th
      %th Kohde
    - f.fields_for :assignments do |ass_form|
      %tr
        %td
          = ass_form.collection_select(:player_id, @active_players, :id, :with_real_name)
        %td
          \->
        %td
          = ass_form.collection_select(:target_id, @active_players, :id, :with_real_name)
  = f.submit 'Päivitä'
%h4 Lisää toimeksianto
= form_for([@tournament, @ring, @new_assignment]) do |f|
  - f.fields_for(@new_assignment) do |new_ass|
    = f.label :Murhaaja
    %br/
    = new_ass.collection_select(:player_id, @active_players, :id, :with_real_name)
    = f.label :Kohde
    %br/
    = new_ass.collection_select(:target_id, @active_players, :id, :with_real_name,  prompt: '(valitse)')
  %p
    = f.submit 'Lisää'
