%h3= @tournament.title
= form_for([@tournament, @ring]) do |f|
  %table
    %tr
      %th Murhaaja
      %th
      %th Kohde
    = f.fields_for :assignments do |ass_form|
      %tr
        %td
          = ass_form.collection_select(:player_id, @active_players, :id, :with_real_name)
        %td
          \->
        %td
          = ass_form.collection_select(:target_id, @active_players, :id, :with_real_name, prompt: '(valitse)')
  = f.submit('Lisää')
