<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ilmoittautuminen</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<h1>MURHAMASTER 2.0 BETA</h1>

<p style="color: green"><%= flash[:notice] %></p>
<table cellspacing="10">
<tr>
<% if logged_in? %>
<td class="sidepanel">
<div id="sidepanel">
<p><b><%= link_to 'Omat tiedot', edit_user_path(current_user) %></b><br />
   <b><%= link_to 'Oma kalenteri', edit_calendar_path(current_user.calendar) %></b></p>
<h3>Kohteet</h3>
  
  <% current_user.players.each do |player| %>
    <h4><%= player.tournament.title %></h4>
    <ul>
    <% player.targets.each do |target| %>
          
      <li><%= link_to target.name, target %></li>
    <% end %>
    </ul>
  <% end %>
</div>
</td>
<% end %>
<td>
<div id="content">
  <%= yield(:content) or yield %>
</div>
</td>
</tr>
</table>
</body>
</html>
