<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ilmoittautuminen</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<h1>MURHAMASTER 2.0 BETA</h1>

<p style="color: green"><%= flash[:notice] %></p>

<% if logged_in? %>
<div id="sidepanel">
<h3>Kohteet</h3>
  <% current_user.players.each do |player| %>
    <%= player.tournament.title %>

    <% player.targets.each do |target| %>
      <%= link_to target.name, target %>
    <% end %>

  <% end %>

<% end %>
</div>
<div id="content">
  <%= yield(:content) or yield %>
</div>

</body>
</html>
